#include <dt-bindings/zmk/matrix_transform.h>
#include "mouse_leds.dtsi"

/ {
    chosen {
        zmk,battery = &vbatt;
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
		zmk,backlight = &backlight;
    }; 

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;
        output-ohms = <400000>;
        full-ohms = <(1000000 + 400000)>;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <1>;

        map = <
            RC(0,0)
            RC(0,1)
            RC(0,2)
            RC(0,3)
            RC(0,4)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    // encoder: encoder {
    //     compatible = "alps,ec11";
    //     a-gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH)>;
    //     b-gpios = <&gpio0 0 (GPIO_ACTIVE_HIGH)>;
    //     steps = <48>;
    //     status = "okay";
    // };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <24>;
    };

};

&pinctrl {
	qdec_default: qdec_default {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 1)>,
			<NRF_PSEL(QDEC_B, 0, 0)>;
			// bias-pull-up;
		};
	};
	
	
	// need second set of pins defined if deep sleep is enabled
	qdec_sleep: qdec_sleep {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 1)>,
			<NRF_PSEL(QDEC_B, 0, 0)>;
			// bias-pull-up; // TODO: find out if this makes sense with low-power-enable
			low-power-enable;
		};
	};
};

// Set up the QDEC hardware based driver and give it the same label as the deleted node.
encoder: &qdec0 {
	status = "okay";
	led-pre = <0>;
	steps = <48>;
	pinctrl-0 = <&qdec_default>;
	pinctrl-1 = <&qdec_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
			<NRF_PSEL(SPIM_MOSI, 1, 15)>,
			<NRF_PSEL(SPIM_MISO, 1, 14)>;
		};
	};
	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
			<NRF_PSEL(SPIM_MOSI, 1, 15)>,
			<NRF_PSEL(SPIM_MISO, 1, 14)>;
			low-power-enable;
		};
	};
};

#include <zephyr/dt-bindings/input/input-event-codes.h>

&spi0 {
	compatible = "nordic,nrf-spim";
    status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;

    mou0: pmw3389@0 {
        compatible = "pixart,pmw3389";
        spi-max-frequency = <2000000>; // 2MHz
        resolution = <200>; // overflow in 0.5s at 8m/s -> 200 CPI
        status = "okay";
        reg = <0>;
    };
};

// / {
//   mouse_input_listener {
//     compatible = "zmk,input-listener";
//     device = <&mou0>;
//   };
// };

// /{
// 	dpi_cycle: dpi_cycle {
// 		compatible = "zmk,behavior-sensor-attr-cycle";
// 		#binding-cells = <1>;
// 		values = < 400 800 1200 2400 3200 >;
// 		attr = <0>;
// 		sensor_device = <&mou0>;
// 		display-name = "DPI cycle";
//         load_delay = <200>;
//         save_delay = <1000>;
// 		persistant;
// 	};
// };